.inter{
  font-family: "Inter", sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111111;
}

nav{
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
 ul{
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 4px; 
    margin: 0;
} 
li{
    list-style: none;   
    color: #FFFFFF;
    padding: 8px 20px;
    cursor: pointer;
}
.home-btn{
    background-color: rgba(230, 83, 60, 1);
    padding: 8px 20px 8px 20px;;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
}
span{
    color: rgba(255, 255, 255, 1);
    display: none;

}

.banner-container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;

}
.banner-left{
    width: 50%;
}

.banner-right{
    width: 50%;
    min-height: 200px;
    display: flex;
    justify-content: end;
    position: relative;
}

.banner-right>img{
    width: 55%;
}
.banner-btn-group {
    display: flex;
    gap: 12px;
    margin-bottom: 28px;
}

.btn-join {
    background-color: #E6533C;
    padding: 16px 30px;
    border-radius: 42px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
}
.btn-join:hover{
    background-color: #9797979d;
    color: white;
    border: 1px solid white;
}
.btn-download {
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 42px;
    padding: 16px 30px;
    font-weight: 600;
    cursor: pointer;
}
.btn-download:hover{
    background-color: #9797979d;
    color: white;
    border: 1px solid white;
}
.tooltip {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    width: 193px;
    height: 98px;
    border-radius: 12px;
    padding-left: 25px;
    padding-top: 20px;
    right: -18%;
    top: 20%;
}

.tooltip h2, .tooltip p {
    margin: 0;
    font-size: 40px;
}

.tooltip2 {
    position: absolute;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    width: 193px;
    padding: 25px;
    left: 23%;
    top: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.tooltip2 h2, .tooltip p {
    margin: 0;
}
.ball{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #E6533C;
}

.grid-container{
    max-width: 1200px;
    min-height: 300px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,200px);
}
.grid-container img{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply
}

.Box-2{

    /* 2 number line theke shuru hoye aro 2 column porjonto jayga nibe  */
    grid-column: 2 /span 2;  
}

.Box-4{
    /* 1 number line theke shuru hoye 3 number line porjonto jayga nibe */
    grid-column: 1/3;
}

.training-heading{
    max-width: 1200px;
    margin: 0 auto;
}
.grid-container>div{
    position: relative;
}
.grid-container p{
    position: absolute;
    margin: 0;
    padding: 15px;
    font-weight: 900;
}

.Box-1>p{
    top: 65%;
    left: -2%;
}
.Box-2>p{
    top: 5%;
    left: 5%;
}
.Box-3>p{
    top: 70%;
    left: 6%;
}
.Box-4>p{
    top: 5%;
    left: 52%;
}
.Box-5>p{
    top: 60%;
    left: 15%;
}
.Box-6>p{
    top: 60%;
    left: 15%;
}


/* Responsive */

/* Small Device */
@media screen and (max-width:576px) {
    body{
        max-width: 92%;
        margin: 0 auto;
    }
    .nav-container{
        display: none;
    }
    span{
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    .Fitness{
        margin-left: 20px;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-left,.banner-right{
        width: 100%;
    }
    .banner-left{
        width: 100%; 
        width: 352px;
        margin: 0 auto;
        text-align: left;
    }
    .banner-left>h1{
        font-size: 36px;
        line-height: 1.1;
        margin-bottom: 15px;
        
    }
    .banner-right>img{
        width: 100%;
    }
    .tooltip{
        width: 145px;
        height: 74px;
        padding-left: 25px;
        padding-top: 20px;
        right: 1%;
        top: 10%;
    }
    .tooltip>h2{
        font-size: 30px;
    }
    .tooltip2 {
        width: 155px;
        height: 74px;
        padding: 25px;
        left: 2%;
        top: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .tooltip2 h2{
        margin: 0;
        font-size: 18px;
    }
    .training-heading{
        max-width: 1200px;
        margin: 0 auto;
    }


    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .Box-2{
        grid-column: auto;
    }
    .Box-4{
        grid-column: auto;
    }
    .Box-3,.Box-6{
        display: none;
    }
}

/* Medium Device */
 @media screen and (min-width: 576px) and (max-width: 992px){
    body{
        max-width: 92%;
        margin: 0 auto;
    }
    .nav-container{
        margin-right: 30px;
    }

    .Fitness{
        margin-left: 30px;
    }

    .banner-container{
        flex-direction: column;
    }

    .banner-left{
        width: 100%; 
        max-width: 600px;
        margin: 0 auto;
        text-align: left;
    }

    .banner-right{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 111px;
    }

    .banner-right>img{
        width: 100%;
    }
 }
